{% extends "base_short_menu.html" %}

{% load thumbnail %}
{% load comments %}

{% block title %}
ענף {{blog.name}} בעץבעיר
{% endblock %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/posts/{{blog.slug}}"/>
{% endblock %}

{% block thickbox %}
{% endblock %}

{% block breadcrumbs %}
	&nbsp;
<a href="/">‎
דף בית
</a>
 > {{blog.name}}
{% endblock %}

{% block central_area %}
	
	{% for post in post_list %}
	
	{% get_comment_count for cityblog.post post.id as comment_count %}
<div class="leafcontainer">
		<div class="blogListImage">
        {% if post.image %}
		<a href="{{post.get_absolute_url}}">
		<img src="{{post.image.url|thumbnail:"width=156"}}" 
		width='{{post.image.url|thumbnail:"width=156"|image_width}}px'
		height='{{post.image.url|thumbnail:"width=156"|image_height}}px' 
		border="0" alt=""  class="blog" title="{{post.image_label|escape}}">
        {% else %}
        {{post.name}}
        {% endif %}
        </a>
		</div>

		<h1>
		<div class="date"><a href="{{post.get_absolute_url}}">{{post.post_date|date:"d/m/y"}}</a></div>
		<a href="{{post.get_absolute_url}}">
			{{post.title}}
		</a>	
		</h1>
		
	<p class="leaf">
		{{post.teaser_rendered_text|safe}}
		</p>
			<div class="commentnumber">
			    <a href="{{post.get_absolute_url}}">
			{% ifequal comment_count 0 %}
			אין כרגע תגובות...
			{% else %}
				‎...יש {{comment_count}} תגובות
			{% endifequal %}
			{% if post.is_gallery %}
, יש גלריה...
            {% else %}
             {% if post.is_article %}
, <i>יש המשך...</i>
             {% else %}
             {% endif %}
			{% endif %}
			</a>
			</div>
			
			<div class="leafspace">
	
			</div>
</div>
	{% endfor %}	
	
{% endblock %}
