{% load comments %}
{#{% load comment_utils %}#}

<div class="comm">
<h1><div class="date"><a href="#add_comment">
<img src="{{media_url}}/cityblog/comment_add.gif" width="13" height="15" border="0" alt="add comment">&nbsp;הוספת תגובה
</a>

</div>
תגובות
</h1>
	
{% get_comment_list for cityblog.post post.id as comment_list %}
{% for comment in comment_list %}

	<div class="icImg">
		<img src="{{media_url}}/cityblog/comment.gif" width="15px" height="15px" border="0" alt="comment"><br>
	</div>
<p class="comment">
{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
</p>

		<div class="sig">
		<a id="c{{ comment.id }}" href="#c{{ comment.id }}">

		-- {{ comment.person_name }},</a>
		 <font id="sigdate"> {{ comment.submit_date|date:"d/m/y" }}</font>	
		</div>
{% endfor %}	

<a name="add_comment"></a>

{% render_comment_form for cityblog.post post.id %}

