{% extends "base_short_menu.html" %}

{% load thumbnail %}
{% load comments %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/posts/{{blog.slug}}"/>
{% endblock %}

{% block thickbox %}
{% endblock %}

{% block breadcrumbs %}
	&nbsp;
<a href="/">‎
דף בית
</a>
 > {{blog.name}}
{% endblock %}

{% block central_area %}
	
	{% for post in post_list %}
	
    {% get_comment_count for cityblog.post post.id as comment_count %}
<div class="workshopLeafContainer" style="min-height: 220px">
    <div class="blogListImage">
        <a href="{{post.workshop.get_absolute_url}}">
		<img src="{{post.image.url|thumbnail:"width=156"}}" 
		width='{{post.image.url|thumbnail:"width=156"|image_width}}px'
		height='{{post.image.url|thumbnail:"width=156"|image_height}}px' 
		border="0" alt=""  class="blog" title="{{post.image_label|escape}}"></a>
		</div>

		<h1>
		<a href="{{post.workshop.get_absolute_url}}">
			{{post.title}}
		</a>
		</h1>
		
        {% if post.workshop.next_event %}
        <table class="leaf">
            <tbody valign="top">
                <tr><th>תאור</th>
                    <td>{{post.workshop.description|safe}}</td></tr>
                <tr><th>
                {% ifnotequal post.workshop.next_event.start_date post.workshop.next_event.end_date %}
                התחלה
                {% else %}
                תאריך
                {% endifnotequal %}
                </th>
                    <td>{{post.workshop.next_event.start_date|date:"d/m/y"}}</td></tr>
                {% ifnotequal post.workshop.next_event.start_date post.workshop.next_event.end_date %}
                <tr><th>סיום</th>
                    <td>{{post.workshop.next_event.end_date|date:"d/m/y"}}</td></tr>
                {% endifnotequal %}
                <tr><th>משך</th>
                    <td>{{post.workshop.next_event.duration}}</td></tr>
                <tr><th>מיקום</th>
                    <td>{{post.workshop.next_event.location}}</td></tr>
                <tr><th>עלות</th>
                    <td>{{post.workshop.next_event.cost}}</td></tr>
                <tr><th>מנחים</th>
                    <td>{{post.workshop.next_event.instructors}}</td></tr>
                <tr><th>לפרטים</th>
                    <td>{{post.workshop.next_event.contact}}</td></td>
            </tbody>
        </table>
        {% else %} {# a event less workshop #}
        <p class="leaf">
            {{post.workshop.description|safe}}
        </p>
        {% endif %}
    </p>
</div>
	{% endfor %}
    {% if not post_list %}
        <div class="workshopLeafContainer" style="min-height: 220px">
            אין סדנאות בענף הזה, נסו שוב מאוחר יותר, תודה.
        </div>
	{% endif %}

{% endblock %}
