{% extends "base_short_noheaderimg.html" %}

{% block customStyleSheets %}
<link rel=stylesheet type="text/css" href="{{media_url}}/css/shortMenuNoHeader.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/links.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/citytree.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/calen.css">
{% endblock %}

{% load comments %}
{% load citytree_tags %}
{% load thumbnail %}

{% block breadcrumbs %}
	&nbsp;
<a href="/">‎
דף בית
</a>
 >
 <a href="{{post.blog.get_absolute_url}}"> 
 {{post.blog.name}}
 </a>
 >‏
 {{post.title}}
{% endblock %}


{% block central_area %}
	<div class="leafcontainer">
<div class="capImg" style="clear: none;">
	<a href="{{post.image.url}}" class="thickbox" rel="gallery">
		<img src="{{post.image.url|thumbnail:"width=156"}}" 
	   width="{{post.image.url|thumbnail:"width=156"|image_width}}px"
	   height="{{post.image.url|thumbnail:"width=156"|image_height}}px"
	   title="{{post.image_label|escape}}"
	   border="0"></a><br>
		<font id="caption">
		{{post.image_caption}}
		</font>
				
				</div>

		<h1>
		<div class="date">{{post.post_date|date:"d/m/y"}}</div>

		{{post.title}}
		</h1>
		<div class="leafteaser">
		<p>
			{{post.teaser_rendered_text|safe}}
		</p>
		</div>
		
		<div class="leaf">
		{{post.rendered_text|replacePostImagesArticle:post.id|safe}}
		</p>
			
		<div class="leafspace">
		</div>

        {% include "cityblog/blog_add_comment_section.html" %}

{% endblock %}
