{% extends "base_short_menu.html" %}

{% block navigation %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block messages %}

{% if form.has_errors %}
<div class="gotit">
    שגיאה בעריכת הטופס
</div>
{% endif %}


{% endblock %}
{% block central_area %}
<div class="content">

<h1>
פרופיל משתמש
</h1>

<script type="text/javascript">
    $(document).ready(function() {
            $("div#password_change").hide();
            $("a#password_change").click(function() {
                $("div#password_change").toggle(); return false; });
    })
</script>

<form method="post" action=".">
    <table>
        <tr><td>{{form.first_name.label}}</td><td>{{form.first_name}}</td></tr>
        <tr><td>{{form.last_name.label}}</td><td>{{form.last_name}}</td></tr>
        <tr><td>{{form.email.label}}</td><td>{{form.email}}</td></tr>
        <td><td></td><td><a href="#" id="password_change">לשינוי סיסמה</a></td>
    </table>
    <div id="password_change">
        <table>
            <tr><td>{{form.old_password.label}}</td><td>{{form.old_password}}</td></tr>
            <tr><td>{{form.new_password_1.label}}</td><td>{{form.new_password_1}}</td></tr>
            <tr><td>{{form.new_password_2.label}}</td><td>{{form.new_password_2}}</td></tr>
        </table>
    </div>
<input type="submit" value="לשינוי פרטים" class="boldbutt"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
