{% extends "base_short_menu.html" %}
{% block central_area %}

<h2>תודה שהצטרפת לרשימת התפוצה של עץבעיר</h2>

<p>
אנו שולחים מייל עונתי ארבע פעמים בשנה (הגיוני!). ביום הקצר של השנה וזה הארוך ובימי השוויון. חוץ מזה, אנו מיידעים את הרשימה מספר פעמים נוסף בשנה, אבל רק כשיש לנו משהו ממש מיוחד להגיד, כמו למשל <a href="http://{{site}}/branches/friends/">הצעת החברות שלנו</a>.
</p>

<p>
אם ברצונכם להתעדכן לעיתים הרבה יותר קרובות, אתם מוזמנים לכתוב לנו ונוסיפכם לרשימת הפעילים שלנו שמקבלת אימייל על כל דבר, לפעמים אפילו פעמיים בשבוע. כיתבו ל: <a href="mailto:tree@citytree.net">tree@citytree.net</a>.
</p>

<p>
נשמח לשמוע ממך עם כל שאלה או רעיון אקולוגי, וגם לראות אותך באחד <a href="http://{{site}}/branches/meet">מהמפגשים הקרובים</a>.
</p>

<p>
<a href="http://{{site}}/">בחזרה לדף הראשי...</a>
</p>
{% endblock %}

