{% extends "base_short_noheaderimg.html" %}
{% load thumbnail %}
{% load hebrewtime %}


{% block customStyleSheets %}
<link rel=stylesheet type="text/css" href="{{media_url}}/css/shortMenuNoHeader.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/links.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/citytree.css">
<link rel=stylesheet type="text/css" href="{{media_url}}/css/calen.css">
{% endblock %}

{% load comments %}
{% load citytree_tags %}

{% block breadcrumbs %}
	&nbsp;
<a href="/">‎
דף בית
</a>
 >
 <a href="{{post.blog.get_absolute_url}}"> 
 {{post.blog.name}}
 </a>
 >‏
 {{post.title}}
{% endblock %}

{% block central_area %}

<h1>
<div class="date">{{post.post_date|date:"d/m/y"}}</div>
{{post.title}}
</h1>


<div class="gallery">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
			{% for img in galleryImages %}

				{% ifnotequal forloop.counter0 0 %}
					{% if forloop.counter0|divisibleby:3 %}
						</tr><tr>
					{% endif %}
				{% endifnotequal %}
				
				<td>
					<a href="{{img.image.url}}" class="thickbox" rel="gallery">
						<img src="{{img.image.url|thumbnail:"width=156"}}" 
					   width="{{img.image.url|thumbnail:"width=156"|image_width}}px"
					   height="{{img.image.url|thumbnail:"width=156"|image_height}}px"
					   title="{{img.label|escape}}"
					   border="0">
					</a>
					<div class= "galleryCaption">
					{{img.caption}}
					</div>
				</td>
				
			{% endfor %}
		</tr>
		</table>
</div>


    <div class="workshopLeafContainer">
		<p class="leaf">
		{{post.rendered_text|replacePostImagesArticle:post.id|safe}}
        </p>

        <p class="leaf">
        <table>
            <!--
            <tr><td>מספר מפגשים:</td><td>{{event.parts.count}}</td></tr>
            -->
            {% for event in workshop.events %}
            {% for part in event.parts %}
            <tr><th>זמן</th><td>{{part.start_time.date|date:"d/m/y"}}, {{part.start_time.time|time:"G:i"}}, {{part.start_time|hebrew_timeuntil:part.end_time}}</td></tr>
            {% endfor %}
            <tr><th>משך</th>
                    <td>{{post.workshop.next_event.duration}}</td></tr>
            <tr><th>מיקום</th>
                    <td>{{post.workshop.next_event.location}}</td></tr>
            <tr><th>עלות</th>
                    <td>{{post.workshop.next_event.cost}}</td></tr>
            <tr><th>מנחים:</th><td>{{post.workshop.next_event.instructors}}</td></tr>
            <tr><th>איש קשר:</th><td>{{post.workshop.next_event.contact}}</td></td>
            <tr><th><a href="{{event.get_registration_absolute_url}}">להרשמה לארוע</a></th></tr>
            {% endfor %}
        </table>
        </p>
			
		<div class="leafspace">
		</div>

        {% include "cityblog/blog_add_comment_section.html" %}

{% endblock %}
