<!-- DateField -->

{% if not FORM_readonly %}
	{% if FORM_field.errors %}{{ FORM_field.html_error_list }}{% endif %}
	<label class="{% if FORM_field.formfield.is_required %}required{% else %}optional{% endif %}" for="{{ FORM_field.get_id }}">{{ FORM_label|title }}:</label>
	{{ FORM_field }}
	{% if FORM_help_text %}<p class="help">{{ FORM_help_text }}</p>{% endif %}
{% else %}
	{{ FORM_label|title }}: {{ FORM_value }}
{% endif %}

{% comment %}
<!-- {{ FORM_value }} -->
<div class="ysearchautocomplete">
	<input type="text" id="AC_{{ FORM_field.field_name }}"
		class="ysearchinput"
		name="AC_{{ FORM_field.field_name }}"{% if FORM_readonly %} readonly="readonly"{% endif %}
		size="{{ FORM_size }}"
		value="{{ FORM.data.owner }}"
		maxlength="{{ FORM_maxlength }}"
	/>
	<div class="ysearchcontainer" id="CON_{{ FORM_field.field_name }}"></div> 
</div>

<input type="hidden" id="{{ FORM_field.get_id }}" name="{{ FORM_field.field_name }}" value="{{ FORM_value }}" />
{% endcomment %}