{% load i18n %}
<!-- FloatField -->

{% if FORM_field.errors %}{{ FORM_field.html_error_list }}{% endif %}
<label class="{% if FORM_field.formfield.is_required %}required{% else %}optional{% endif %}" for="{{ FORM_field.get_id }}">{{ FORM_label|title }}:</label>
<input type="text" dojoType="RealNumberTextbox"
	id="{{ FORM_field.get_id }}"
	class="vTextField{% if FORM_field.formfield.is_required %} required{% endif %}{% if FORM_readonly %} readonly{% endif %}"
	name="{{ FORM_field.field_name }}"{% if FORM_readonly %} readonly="set"{% endif %}
	size="{{ FORM_size }}"
	value="{{ FORM_value }}"
	maxlength="{{ FORM_maxlength }}"
	{% if FORM_field.formfield.is_required %}required="true"{% endif %}
	trim="true"
	invalidMessage="{% trans 'This is not a valid real number.' %}"
/>
{% if FORM_help_text %}
<p class="help">{{ FORM_help_text }}</p>
{% endif %}
