{% extends "base_desk.html" %}

{% block crumbs %}
‎עזרה
{% endblock %}

{% block contents %}
<div class="content">
<H1>
הוראות הפעלה למערכת

</H1>
<p>
ברוכים הבאים למערכת עץ-בעיר! אנחנו ממש שמחים שהחלטתם לעזור לנו לגדל את העץ. הנה כמה כללים פשוטים לשימוש במערכת:

</p>

<ul class="star">
	<li class="star">

	מימין מופיעים הבלוגים שלכם (ה"ענפים"). לחיצה על אחד מהם מובילה לדף שבו מופיעות כל הכניסות שלכם (ה"עלים"). חלקם מאושרים (מסומנים בסימן ה-V) וחלקם במצב טיוטה (מסומנים בסימן הקישקוש בלבוש). 
	</li>
	<li class="star">
בדף של כל בלוג יש אפשרות לצפות בכל עלה (ע"י הקלקה על שם העלה) לערוך עלה קיים (ע"י הקלקה על העיפרון או למחוק עלה (ע"י הקלקה על סימן האיקס).
	</li>
	
<li class="star">
לחיצה על שם עלה מאושר מובילה לעלה כפי שהוא מופיע באתר הראשי. לחיצה על עלה בעבודה (טיוטה) מובילה לדף עריכה שבו אפשר להמשיך את העבודה על העלה.
	</li>
	<li class="star">
יש גם כפתור "הצמחת עלה חדש" שמובילה לדף עריכה נקי.
	</li>
	
			</li>

	<li class="star">
כשרוצים לראות איך יצא אפשר ללחוץ על "שמירה ותצוגה מקדימה" וכשבטוחים שהעלה מוכן לוחצים על "שמירה והמשך עריכה". כמובן שבשלב זה לא חייבים להמשיך לערוך... העלה צמח, ואפשר להתחיל אחד חדש : )
	</li>
	
			</li>
	<li class="star">
לחיצה על הלוגו מובילה לדף הבית של האתר הראשי. 
	</li>
	
	
</ul>
</div>
{% endblock %}