{% ifequal section 1 %}
	<font id="buttpressed">
	 &nbsp;&nbsp; כניסה &nbsp;&nbsp;
	</font>
{% else %}
	<a href="/desk/">
		<font id="butt">
		 &nbsp;&nbsp; כניסה &nbsp;&nbsp;
		</font>
	</a>
{% endifequal %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

{% ifequal section 2 %}
<font id="buttpressed">
&nbsp;&nbsp; עזרה &nbsp;&nbsp;
</font>
{% else %}
<a href="/desk/help/">

<font id="butt">
&nbsp;&nbsp; עזרה &nbsp;&nbsp;
</font></a>
{% endifequal %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="/desk/logout/"><font id="butt">
&nbsp;&nbsp; יציאה &nbsp;&nbsp;
</font></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;