{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="/media/css/news.css" type="text/css" media="screen"/>
{% endblock %}

{% block title %}{% trans 'News archive' %}{% endblock %}

{% block content %}
{% block news_content %}
{% endblock %}
{% endblock %}

{% block right %}
<p id="navtitle">{% trans 'News archive' %}</p>
<div id="news_list">
    <ul id="navlist">
    	{% for year in years %}
    	<li>
    		<a href="/news/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>
    		{% if months %}
    		<ul id="navlistind">
    			{% for month in months %}
    			<li><a href="/news/{{ year|date:"Y" }}/{{ month|date:"m" }}/">{{ month|date:"F" }}</a></li>
    			{% endfor %}
    		</ul>
    		{% endif %}
    	</li>
    	{% endfor %}
    </ul>
</div>
{% endblock %}
