{% extends "news/base.html" %}

{% load i18n %}

{% block title %}{% trans 'News' %} | {{ month|date:"F" }}{% endblock %}

{% block news_content %}

<h1>{% blocktrans with month|date:"F" as date %}{{ date }} archive{% endblocktrans %}</h1>

{% for object in object_list %}
	<h2><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h2>
	<div class="content">{{ object.body }}</div>
	<hr />
	<p class="date small">{% blocktrans with object.pub_date|date:_("DATE_FORMAT") as date %}Published on {{ date }}{% endblocktrans %}</p>
{% endfor %}

{% endblock %}
