{% extends "site_skeleton.html" %}

{% block stylesheets %}
<link rel=stylesheet type="text/css" href="{{ media_url }}/css/citytree.css">
<link rel=stylesheet type="text/css" href="{{ media_url }}/css/fullMenu.css">
<link rel=stylesheet type="text/css" href="{{ media_url }}/css/calen.css">
<link rel=stylesheet type="text/css" href="{{ media_url }}/css/links.css">

<style type="text/css">
    div.menu { background-image: url('{{ media_url }}/frontpage/menu.png'); background-color:{{site_bg_color}}; } 
    
    
    div.mainWrapper { 
		overflow: hidden;
        background-color:{{site_bg_color}};
		width: 800px;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop,
        src='{{media_url}}/frontpage/main.png');
    }
    
    div.mainWrapper[class] {
        background-image: url('{{media_url}}/frontpage/main.png');
    }
    
    div.calendarHolder[class] { background-image: url('{{media_url}}/calendar/calen.png');}
    div.calendarHolder { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop,
src='{{media_url}}/calendar/calen.png');
}
    
</style>

{% endblock %}

{% block scripts %}
<script src="{{ media_url }}/js/menus.js" type="text/javascript"></script>
{% endblock %}


{% block body %}

{% include "menu.html" %}

<div class="mainWrapper">
<div class="main">
    

	{% block breadcrumbs %}
	{% endblock %}

<!-- Calendar starts here -->
<script type="text/javascript">

	function gotoDate( month, year, urlType ) {
		 getStr = '/ajax/calendar/?month='+month+'&year='+year+'&urlType='+urlType;	    
	    $('#calContainer').load(getStr);
	    $('#calIndicator').show();
	}
</script>

<div class="calendarContainer">

{% block calendar %}

<div class="calendarHolder" id='calContainer'>

{{calendar}}
<BR>
<a href="http://{{ site_hostname }}/static/gifts_flier.htm">
<IMG SRC="http://{{ site_hostname }}/static/gifts.jpg" WIDTH="138" HEIGHT="168" BORDER="0" ALT=""/>
</a>

</div>

{% endblock %}

{% include "next_events.html" %}

</div>

<!-- Calendar stops here -->

<div class="leftnav" style="font-size: 8pt">

    <form id="search" action="/branches/search" method="get">
        <label for="form-search">חיפוש בעץ</label><br>
        <div style="text-align:left">
        <input id="form-search" name="q" type="text" size="15" value=""/>
        <input type="submit" value="לחיפוש" style="margin-top: 3px; padding-left: 0px; padding-right: 0px"/>
        </div>
    </form>
    <form id="joinlist" action="/mailinglist/join" method="get" style="text-align:center">
        <label for="form-joinlist">דואל להצטרפות לרשימת תפוצה</label><br>
        <div style="text-align:left">
        <input id="form-joinlist" name="q" type="text" size="15" value=""/>
        <input type="submit" value="להצטרפות" style="margin-top: 3px; padding-left: 0px; padding-right: 0px"/>
        </div>
    </form>

{% include "leftmenu.html" %}

<!-- End Left Nav -->
</div> 

<div class="centralContentWrapper">
    <div class="centralAreaMargins">

    {% block central_area %}
    {% endblock %}

    </div>
</div> 


<!-- End Of Main Div -->
</div>

<div class="teaser">

{% block teasers %}
{% endblock %}

</div>
<!-- End Of Main Wrapper -->
</div>


{% endblock %}
