<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<title>
{% block title %}
CityTree -- Your Urban Ecology Resource
{% endblock %}
</title>
<meta name="copyright" content="Princess Zero">
<meta name="keywords" content="CityTree, Urban, Ecology, Permaculture, Sustainability, Reuse, Recucle, Reduce, Home, Garden, Roof, Urban gardening, community">
<meta name="description" content="Cityree">
<meta http-equiv="Expires" content="City Tree">
<link rel=stylesheet type="text/css" href="{{ media_url }}/css/citytree.css">

{% comment %}
<script language="JavaScript" type="text/javascript" src="/pphlogger/pphlogger.js.php?id=citytree"></script>
{% endcomment %}

</head>

<body>

<div class="top">
</div>

<div class="menu">
<table cellpadding="0" cellspacing="0" border="0" align="left" width="800">
<tr>
<td width="158" height="22"></td>
<td width="158" heightt="22"></td>
<td width="158" height="22"></td>
<td width="158" height="22"></td>
<td width="158" height="22"></td>
</tr>
<tr>

<td class="menuwriters"><a href="vered/blog.php">הצמחים מדברים לורד
</a></td>
<td width="158" height="22"></td>
<td class="menuback">לעמוד הבית</td>
<td></td>
<td class="menuabout"><a href="about.php">מה זה האתר הזה?</a></td>
</tr>
<tr>
<td class="menuwriters"><a href="tami/blog.php">תמי עולה לגג
</a></td>
<td width="158" height="22"></td>
<td></td>
<td></td>
<td class="menuabout"><a href="contact.php">יצירת קשר</a></td>

</tr>
<tr>
<td width="158" height="22"></td>
<td width="158" height="22"></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</div>

<div class="main">
<!-- Calendar starts here -->
<div class="calendarHolder">

<table width="126" border="0" cellspacing="0" cellpadding=""  align="center">
<tr>

<td class="cellmonth" colspan="7">חשון</td>
</tr>
<tr>
<td class="cellday"><div class="cellday">א</div></td>
<td class="cellday"><div class="cellday">ב</div></td>
<td class="cellday"><div class="cellday">ג</div></td>
<td class="cellday"><div class="cellday">ד</div></td>
<td class="cellday"><div class="cellday">ה</div></td>
<td class="cellday"><div class="cellday">ו</div></td>
<td class="cellday"><div class="cellday">ש</div></td>

</tr>
<tr>
	<td class="cell" ><div class="cell"></div></td>
	<td class="cell" bgcolor="#a5c1ff"><div class="cell">א</div></td>
	<td class="cell" bgcolor="#a5c2ff"><div class="cell">ב</div></td>
	<td class="cell" bgcolor="#a5c4ff"><div class="cell">ג</div></td>
	<td class="cell" bgcolor="#a5c5ff"><div class="cell">ד</div></td>
	<td class="cell" bgcolor="#a5c7ff"><div class="cell">ה</div></td>

	<td class="cell" bgcolor="#a5c8ff"><div class="cell">ו</div></td>
</tr><tr>
	<td class="cell" bgcolor="#a5caff"><div class="cell">ז</div></td>
	<td class="cell" bgcolor="#a5cbff"><div class="cell">ח</div></td>
	<td class="cell" bgcolor="#a5cdff"><div class="cell">ט</div></td>
	<td class="cell" bgcolor="#a5ceff"><div class="cell">י</div></td>
	<td class="cell" bgcolor="#a5d0ff"><div class="cell">יא</div></td>

	<td class="cell" bgcolor="#a5d1ff"><div class="cell">יב</div></td>
	<td class="cell" bgcolor="#a5d3ff"><div class="cell">יג</div></td>
</tr><tr>
	<td class="cell" bgcolor="#a5d4ff"><div class="cell">יד</div></td>
	<td class="cell" bgcolor="#a5d6ff"><div class="cell">טו</div></td>
	<td class="cell" bgcolor="#a5d7ff"><div class="cell">טז</div></td>
	<td class="cell" bgcolor="#a5d9ff"><div class="cell">יז</div></td>

	<td class="cell" bgcolor="#a5daff"><div class="cell">יח</div></td>
	<td class="cell" bgcolor="#a5dcff"><div class="cell">יט</div></td>
	<td class="cell" bgcolor="#a5ddff"><div class="cell">כ</div></td>
</tr><tr>
	<td class="cell"><div class="cell">כא</div></td>
	<td class="cell"><div class="cell">כב</div></td>
	<td class="cell"><div class="cell">כג</div></td>

	<td class="cell"><div class="cell">כד</div></td>
	<td class="cell"><div class="cell">כה</div></td>
	<td class="cell"><div class="cell">כו</div></td>
	<td class="cell"><div class="cell">כז</div></td>
</tr><tr>
	<td class="cell"><div class="cell">כח</div></td>
	<td class="cell"><div class="cell">כט</div></td>

	<td class="cell"><div class="cell">ל</div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
</tr><tr>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>

	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
	<td class="cell"><div class="cell"></div></td>
</tr><tr>
<td colspan="7" height="6"></td>
</tr>
<tr>
<td colspan="3" class="cellmoon1">הירח&nbsp;</td>
<td style="background-image: url('/images/cityMoons/20.gif'); background-repeat: no-repeat;" height="18px" width="18px"></td>
<td colspan="3" class="cellmoon2">&nbsp;הלילה</td>

</tr>
</tr>
</table>

</div>
<!-- Calendar stops here -->

<div class="leftnav">

<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td height="28" valign="middle"><a href="besttoday.php">
מה הכי כדאי היום?
 </a><div class="lineleft"></div></td>
</tr>
<tr>
<td height="28" valign="middle"><a href="howmuch.php">

בכמה קנית?
</a><div class="lineleft"></div></td>
</tr>
<tr>
<td height="28" valign="middle"><a href="thebest.php">
מה הכי טוב?
</a><div class="lineleft"></div></td>
</tr>
</table>

</div> 

<div class="blog">
{% block mainarea %}
{% endblock %}
</div> 

<div class="teaser">

<table cellpadding="0" cellspacing="0" border="0" align="left"  width="808">
<tr>
<td width="160" valign="top">
<div class="teaserline"></div><div class="teaserunit">
<a href="guides/sprouting01_june01.php">
<img src="images/sprouts.jpg" width="60" height="80" border="0" hspace="6" vspace="2" alt=""  class="teaser"></a>
<p class="teaser">
<a href="guides/sprouting01_june01.php">
יוני: נבטי חמניות
</a>
 הם מדהימים בטעמם וגם עמוסים בדברים טובים. מעקב צמוד אחרי נבטי החמניות שצומחים במרפסת של המטבח.  
</p>
<div class="teaserlinebott"></div></div>

</td>

<td width="160" valign="top">
<div class="teaserline"></div><div class="teaserunit">
<a href="trips/permatrip2006_england.php">
<img src="images/nyc.jpg" width="60" height="125" border="0" hspace="6" vspace="2" alt=""  class="teaser"></a>
<p class="teaser">
<a href="trips/permatrip2006_england.php">
יולי/אוגוסט: שלושה שבועות של פארקים, חוות, גינות קהילתיות ואוכל פרא. 
</a>
לונדון, בוסטון וניו יורק. תמונות ורשימות מטיול השראה לפרויקט עץ בעיר.
</p>
<div class="teaserlinebott"></div></div>
</td>


<td width="160" valign="top">

<div class="teaserline"></div><div class="teaserunit">
<a href="tami/garden01_blog.php">
<img src="images/garden1.jpg" width="60" height="110" border="0" hspace="6" vspace="2" alt=""  class="teaser"></a>
<p class="teaser">
<a href="tami/garden01_blog.php">
ספטמבר ואילך: יומן גינה חדש</a>
מתאר את המתרחש והצומח בגינה שבשדרות נורדאו.
</p>
<div class="teaserlinebott"></div></div>
</td>

<td width="160" valign="top">
<div class="teaserline"></div><div class="teaserunit">
<a href="vered/blog.php">
<img src="images/vered.jpg" width="60" height="125" border="0" hspace="6" vspace="2" alt=""  class="teaser"></a>
<p class="teaser">

<a href="vered/blog.php">
בלוג חדש: לורד יש דיבור צפוף עם הצמחים שלה.
</a>
 כל מי שמבקר אותה יכול לראות איך השיחה הזו משפיעה לטובה על הגינה הביתית. דו"ח שיחות.
</p>
<div class="teaserlinebott"></div></div>

</td>

<td width="160" valign="top">
<div class="teaserline"></div><div class="teaserunit">
<a href="tami/blog.php">
<img src="images/tami.jpg" width="60" height="80" border="0" hspace="6" vspace="2" alt=""  class="teaser"></a>
<p class="teaser">
<a href="tami/blog.php">
בלוג חדש: תמי עולה לגג כל יום, אחרי שביקרה בגינה כמובן.

</a>
רשימות מהנעשה במחוזות קרובים מאוד.
</p>
<div class="teaserlinebott"></div></div>

</td>
</tr>
</table>
</div>

<div class="bottom">
עץ בעיר, פרויקט האקולוגיה העירונית של <font size="2">Princess Zero</font>, כל הזכויות שמורות.
</div></div>

</body>
