{% load citytree_tags %}
<div class="menu">
    <div class="l1menuFold">
	    <ul class="menuList closedMenu">
            <li class="title1Fold">
            &nbsp;ענפי העץ
            </li>
            
            {% for blog in displayed_blogs  %}
	            {% if forloop.counter0|lessthan:"3" %}
                    <li class="list1Fold">
                        &nbsp;{{blog.name}}
                    </li>
	            {% endif %}
            {% endfor %}
        </ul>
    </div>

	<div class="l1menu">
	    <ul class="menuList closedMenu">
	        <li class="title1">
	        &nbsp;ענפי העץ
	        </li>
	
			{% for blog in displayed_blogs  %}
                <li class="list1">
                &nbsp;<a href="{{blog.get_absolute_url}}">{{blog.name}}</a>
                </li>
            {% endfor %}
	    </ul>
	</div>
	
	
	<div class="l2menuFold">
	    <ul class="menuList closedMenu">
	        <li class="title2Fold">
	        &nbsp;שמונה מחלקות לשינוי
	        </li>
	
			{% for subject in subjects %}
          	  {% if forloop.counter0|lessthan:"3" %}
					<li class="list2Fold">
			        &nbsp;{{subject.name}}
			        </li>
	            {% endif %}
            {% endfor %}
	    </ul>
	</div>
	
	<div class="l2menu">
	    <ul class="menuList closedMenu">
	        <li class="title2">
	        &nbsp;שמונה מחלקות לשינוי
	        </li>
	
			{% for subject in subjects %}
                <li class="list2">
                	&nbsp;<a href="{{subject.get_absolute_url}}">{{subject.name}}</a>
                </li>
            {% endfor %}
	    </ul>
	</div>

	<div class="l3menuFold">
	    <ul class="menuList closedMenu">
	        <li class="title3Fold">
	        &nbsp;בית לאקולוגיה עירונית
	        </li>
<li class="list3Fold">
	        &nbsp;חזון ומטרות
	        </li>
<li class="list3Fold">
	        &nbsp;דברו אל העץ
	        </li>
<li class="list3Fold">
	        &nbsp;הגננים והגנניות של העץ
	        </li>
		
	    </ul>
	</div>

	<div class="l3menu">
	    <ul class="menuList closedMenu">
	        <li class="title3">
	        &nbsp;בית לאקולוגיה עירונית
	        </li>
		<li class="list3">
	        &nbsp;<a href="/blogs/about/">חזון ומטרות</a>
	        </li>
<li class="list3">
	          &nbsp;<a href="/contact/">דברו אל העץ</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/blogs/who/">הגננים והגנניות של העץ</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/blogs/friends/">החברות והחברים של העץ</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/branches/volunteers/">מתנדבות ומתנדבים בעץ</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/branches/compostaim/"> 350 קומפוסטאים</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/branches/garden/">גינת עץבעיר</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/blogs/bialik/">שיפוצים אקולוגיים</a>
	        </li>
<li class="list3">
	          &nbsp;<a href="/community">קהילה עירונית ניסויית</a>
	        </li>
<li class="list3">
	          &nbsp;<a href="/mailinglist/join?q=">הצטרפות לרשימת התפוצה</a>
	        </li>
<li class="list3">
	          &nbsp;<a href="/blogs/partners/">שיתופעולה</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/blogs/faq/">הענף לפניות הציבור</a>
	        </li>
<li class="list3">
  &nbsp;<a href="http://www.google.com/calendar/embed?src=0c99r8uvcpd4ikah5kt16h7igk@group.calendar.google.com&ctz=Asia/Jerusalem/">לוח זמנים בגוגל</a>
</li>
<li class="list3">
	        &nbsp;<a href="/feeds/posts/">עידכונים ב-RSS</a>
	        </li>
<li class="list3">
	        &nbsp;<a href="/branches/media">התקשורת והעץ</a>
	        </li>
	    </ul>
	</div>

	<div class="l4menuFold">
	    <ul class="menuList closedMenu">
	        <li class="title4Fold">
	        &nbsp;עץבעיר מציע
	        </li>
 <li class="list4Fold">
	        &nbsp;חברות
	        </li>
 <li class="list4Fold">
	        &nbsp;קורסים
	        </li>
<li class="list4Fold">
	        &nbsp;מוצרים שמשנים
	        </li>

	    </ul>
	</div>

	<div class="l4menu">
	    <ul class="menuList closedMenu">
	        <li class="title4">
	        &nbsp;עץבעיר מציע
	        </li>
<li class="list4">
	        &nbsp;<a href="/blogs/friendship/">חברות</a>
	        </li>
 <li class="list4">
	        &nbsp;<a href="/branches/courses/">קורסים</a>
	        </li>
<li class="list4">
	        &nbsp;<a href="/blogs/workshops/">סדנאות בסלון האקולוגי</a>
	        </li>
 <li class="list4">
	        &nbsp;<a href="/blogs/localTree/">מוצרים שמשנים</a>
	        </li>	
 <li class="list4">
	        &nbsp;<a href="/blogs/compostToGo/">ליווי לקומפוסט</a>
	        </li>
<li class="list4">
	        &nbsp;<a href="/blogs/takeOut/">תכנים בהזמנה</a>
	        </li>
<li class="list4">
	        &nbsp;<a href="/branches/tours/">סיורים מודרכים</a>
	        </li>
<li class="list4">
	        &nbsp;<a href="/blogs/meet/"> להיפגש</a>
	        </li>
	    </ul>
	</div>

	<div class="l5menuFold">
	    <ul class="menuList closedMenu">
	        <li class="title5Fold">
	        &nbsp;עוד מהעץ
	        </li>
<li class="list5Fold">
	        &nbsp;עשי זאת בעצמך
	        </li>
<li class="list5Fold">
	        &nbsp;מתכונים מהמיטפח
	        </li>	
<li class="list5Fold">
	        &nbsp;פרמקלצ'ר עירוני
	        </li>  
	    </ul>
	</div>

	<div class="l5menu">
	    <ul class="menuList closedMenu">
	        <li class="title5">
	        &nbsp;עוד מהעץ
	        </li>
<li class="list5">
	        &nbsp;<a href="/blogs/DIY/">עשי זאת בעצמך</a>
	        </li>
<li class="list5">
	        &nbsp;<a href="/branches/food/">מתכונים מהמיטפח</a>
	        </li>	
<li class="list5">
	        &nbsp;<a href="/branches/urbanPermaculture">פרמקלצ'ר עירוני</a>
	        </li>
<li class="list5">
	       &nbsp;<a href="/blogs/ginot/">גינות קהילתיות בת"א</a>
	        </li>
 <li class="list5">
	       &nbsp;<a href="/branches/coop/">קואופרטיבים בת"א</a>
	        </li>
<li class="list5">
	          &nbsp;<a href="/blogs/events/">אירועים ירוקים בתל אביב</a>
	        </li>	
<li class="list5">
	        &nbsp;<a href="/blogs/urbanForaging/">ליקוט בתל אביב</a>
	        </li>
<li class="list5">
	        &nbsp;<a href="/blogs/articles/">מאמרים</a>
	        </li>
<li class="list5">
	        &nbsp;<a href="/blogs/open/">אקולוגיה והקוד הפתוח</a>
	        </li>
<li class="list5">
	        &nbsp;<a href="/blogs/howMuch/">כמה עולה אורגני?</a>
	        </li>
<li class="list5">
	        &nbsp;<a href="/blogs/bestToday/">מה הכי שווה עכשיו</a>
	        </li>
	        </li>
	    </ul>
	</div>
</div>
