<div style="width: 470px; height: 80px; margin-left: auto; margin-right: auto;">
<iframe src="http://www.facebook.com/plugins/like.php?href={{like_href|escape}}&amp;layout=standard&amp;show_faces=true&amp;width=340&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:80px; float: left;" allowTransparency="true"></iframe>
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4c49752e0207caf0"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0; float: right;"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c49752e0207caf0"></script>
</div>
