<div style="width: 470px; height: 80px; margin-left: auto; margin-right: auto;">
<iframe src="http://www.facebook.com/plugins/like.php?href={{like_href|escape}}&amp;layout=standard&amp;show_faces=true&amp;width=340&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:80px; float: left;" allowTransparency="true"></iframe>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fcitytree.net%2F&amp;linkname="><img src="http://static.addtoany.com/buttons/share_save_106_16.gif" width="106" height="16" border="0" alt="Share/Bookmark"/></a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkurl = "{{like_href}}";
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</div>
