{% extends "base_short_menu.html" %}

{% block calendar %}
{% endblock %}

{% comment %} BreadCrumbs Not Displayed in comment preview {% endcomment %}
{% block breadcrumbs %}
&nbsp;
<a href="/">‎
דף בית
</a>
>
<a href="{{comment.get_content_object.blog.get_absolute_url}}"> 
{{comment.get_content_object.blog.name}}
</a>
>‏
<a href="{{comment.get_content_object.get_absolute_url}}">
{{comment.get_content_object.title}}
</a>
>‏
הוספת תגובה
{% endblock %}

{% comment %} Header Image must come from comment object {% endcomment %}
{% block  headerImage%}
<img src="{{comment.get_content_object.blog.get_header_image_url}}" 
		width="{{comment.get_content_object.blog.header_image_width}}px" 
		height="{{comment.get_content_object.blog.header_image_height}}px" 
		alt="{{comment.get_content_object.blog.header_image_label}}" title="{{comment.get_content_object.blog.header_image_label}}">
{% endblock %}



{% block central_area %}

<script type="text/javascript">
	$(document).ready(function(){
		$('#id_comment').attr({ 'cols': '60', 'rows': '8' } );
	});
</script>

	<div class="addcomm">
<h1>
ככה תראה התגובה שלך, והיא תופיע בראש רשימת התגובות:
</h1></div>
<form action="../postfree/" method="post">
	{% if comment_form.has_errors %}
	    <p><strong style="color: red;">Please correct the following errors.</strong></p>
	{% else %}

        <div class="comm">
        	<div class="icImg">
        <img src="{{media_url}}/cityblog/comment.gif" width="15px" height="15px" border="0" alt="comment"><br>
        	</div>

        <p>
         {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
        </p>
        </div>
        <div class="sig">
        <a href="/">
    
        -- {{ comment.person_name }},

        </a>
        <font id="sigdate">{{comment.submit_date|date:"d/m/y"}}</font>	
        </div>

        <div class="addcomm">
        <H3>
        אם נראה לך מושלם, שלח/י לאתר: 
        </H3>

        <div class="buttContainer">
        <input class="button" type="submit" name="post" value="שליחת תגובה" />
        </div>
    {% endif %}

<H3>
או, אם התגובה עדיין לא מושלמת, אפשר לערוך אותה עוד: 
</H3>
<h1>
עריכת התגובה
</h1>
	
	{% if comment_form.comment.errors %}
		{{ comment_form.comment.html_error_list }}
	{% endif %}
	{{ comment_form.comment }}
	<h3>
	תגובה (אפשר להוסיף תגי html)
	</h3><br>
	
	{% if comment_form.person_name.errors %}
	    {{ comment_form.person_name.html_error_list }}
	{% endif %}
	{{ comment_form.person_name }}

	<h3>
	שם אמיתי או בדוי 
	</h3><br>
{% comment %}
    <input id="eng" type="text" id="id_image_label" class="vTextField" name="image_label" size="40" value="http://" maxlength="200" />
<h3>
	קישור לשם (לא חייבים)
	</h3>
{% endcomment %}
	
		
		<div class="buttContainer">
		    <input type="hidden" name="options" value="{{ options }}" />
            <input type="hidden" name="target" value="{{ target }}" />
            <input type="hidden" name="gonzo" value="{{ hash }}" />
            <input class="button" type="submit" name="preview" value="הצגת תגובה" />
        </div>
    </form>

</div>

	
<div class="leafspace">
</div>

</div>

<br>


{% endblock  %}

{% comment %}
    Original example of free comment form
{% endcomment %}
<h1>Preview your comment</h1>

<form action="../postfree/" method="post">
	{% if comment_form.has_errors %}
	    <p><strong style="color: red;">Please correct the following errors.</strong></p>
	{% else %}
	    <div class="comment">
	    {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
	    <p class="date small">Posted by <strong>{{ comment.person_name }}</strong></p>
	    </div>

	    <p><input type="submit" name="post" value="Post public comment" /></p>

	    <h1>Or edit it again</h1>
	{% endif %}

	{% if comment_form.person_name.errors %}
	    {{ comment_form.person_name.html_error_list }}
	{% endif %}

	<p><label for="id_person_name">Your name:</label> {{ comment_form.person_name }}</p>

	{% if comment_form.comment.errors %}
		{{ comment_form.comment.html_error_list }}
	{% endif %}

	<p>
		<label for="id_comment">Comment:</label>
		<br />
		{{ comment_form.comment }}
	</p>
	
	<input type="hidden" name="options" value="{{ options }}" />
	<input type="hidden" name="target" value="{{ target }}" />
	<input type="hidden" name="gonzo" value="{{ hash }}" />
	
	<p>
		<input type="submit" name="preview" value="Preview revised comment" />
	</p>
</form>