{% extends "base_short_menu.html" %}

{% block calendar %}
{% endblock %}

{% comment %} BreadCrumbs Not Displayed in comment preview {% endcomment %}
{% block breadcrumbs %}
&nbsp;
<a href="/">‎
דף בית
</a>
>
<a href="{{comment.content_object.blog.get_absolute_url}}"> 
{{comment.content_object.blog.name}}
</a>
>‏
<a href="{{comment.content_object.get_absolute_url}}">
{{comment.content_object.title}}
</a>
>‏
תגובה נשלחה בהצלחה
{% endblock %}

{% comment %} Header Image must come from comment object {% endcomment %}
{% block  headerImage%}
<img src="{{comment.content_object.blog.header_image.url}}" 
		width="{{comment.content_object.blog.header_image.width}}px" 
		height="{{comment.content_object.blog.header_image.height}}px" 
		alt="{{comment.content_object.blog.header_image_label}}" title="{{comment.content_object.blog.header_image_label}}">
{% endblock %}


{% block central_area %}

<div class="addcomm">
    <h1>התגובה שלך עלתה בהצלחה!</h1>

    <h3>עץ-בעיר מודה לך מאוד על התרומה לאתר. המילים שלך הן קומפוסט מעולה. לחיצה על "חזרה" תוביל לעמוד שבו מופיעה עכשיו התגובה.</h3><br />

    <div class="buttContainer">
        <form>
        <input class="button" type="button" name="post" value="חזרה" onClick="document.location.href='{{ comment.content_object.get_absolute_url }}';" />
        </form>
    </div><br />

    <div class="leafspace"></div>
</div>

{% endblock %}

