{% extends "base_short_menu.html" %}

{% load comments %}

{% block calendar %}
{% endblock %}

{% comment %} BreadCrumbs Not Displayed in comment preview {% endcomment %}
{% block breadcrumbs %}
&nbsp;
<a href="/">‎
דף בית
</a>
>
<a href="{{comment.get_content_object.blog.get_absolute_url}}"> 
{{comment.get_content_object.blog.name}}
</a>
>‏
<a href="{{comment.get_content_object.get_absolute_url}}">
{{comment.get_content_object.title}}
</a>
>‏
הוספת תגובה
{% endblock %}

{% comment %} Header Image must come from comment object {% endcomment %}
{% block  headerImage%}
<img src="{{comment.get_content_object.blog.get_header_image_url}}" 
		width="{{comment.get_content_object.blog.header_image_width}}px" 
		height="{{comment.get_content_object.blog.header_image_height}}px" 
		alt="{{comment.get_content_object.blog.header_image_label}}" title="{{comment.get_content_object.blog.header_image_label}}">
{% endblock %}



{% block central_area %}

<script type="text/javascript">
	$(document).ready(function(){
		$('#id_comment').attr({ 'cols': '50', 'rows': '8' } );
	});
</script>

	<div class="addcomm">
<h1>
ככה תראה התגובה שלך, והיא תופיע בראש רשימת התגובות:
</h1></div>
<form action="{% comment_form_target %}" method="POST">
{% csrf_token %}

	{% if form.errors %}
	    <p><strong style="color: red;">בבקשה תקנו את השגיאות ונסו שוב</strong></p>
	{% else %}

        <div class="comm">
        	<div class="icImg">
        <img src="{{media_url}}/cityblog/comment.gif" width="15px" height="15px" border="0" alt="comment"><br>
        	</div> 
        <p>
         {{ comment|escape|urlizetrunc:"40"|linebreaks }}
        </p>
        </div>
        <div class="sig">
        <a href="/">
    
        -- {{ form.name.data }},

        </a>
        <font id="sigdate">{% now "d/m/y" %}</font>	
        </div>

        <div class="addcomm">
        <H3>
        אם נראה לך מושלם, שלח/י לאתר: 
        </H3>

        <div class="buttContainer">
        <input class="button" type="submit" name="submit" value="שליחת תגובה" />
        </div>
    {% endif %}

<H3>
או, אם התגובה עדיין לא מושלמת, אפשר לערוך אותה עוד: 
</H3>
<h1>
עריכת התגובה
</h1>
	
	{% if form.comment.errors %}
    {# {{ form.comment.error }} #}
	    <p><strong style="color: red;">בבקשה מלאו את גוף ההערה</strong></p>
	{% endif %}
	{{ form.comment }}
	<h3>
	תגובה (אפשר להוסיף תגי html)
	</h3><br>
	
	{% if form.name.errors %}
    {#{{ form.name.errors }} #}
        <p><strong style="color: red;">בבקשה מלאו שם</strong></p>
	{% endif %}
    {{ form.name }}
	<h3>
	שם אמיתי או בדוי 
	</h3><br>

	{% if form.email.errors %}
    {# {{ form.email.errors }} #}
        <p><strong style="color: red;">בבקשה מלאו דואל תקין</strong></p>
	{% endif %}
	{{ form.email }}
    <h3>
    דואר אלקטרוני. המייל שלך ישאר חסוי והוא אך ורק לצורך יצירת קשר מצידנו למענה אישי.
    </h3><br>

	{% if form.phone.errors %}
	    {{ form.phone.errors }}
	{% endif %}
	{{ form.phone }}
    <h3>
    מספר הטלפון שלך ישאר חסוי ויעזור לנו ליצור איתך קשר במקרה הצורך.
    </h3><br>

{% comment %}
    <input id="eng" type="text" id="id_image_label" class="vTextField" name="image_label" size="40" value="http://" maxlength="200" />
<h3>
	קישור לשם (לא חייבים)
	</h3>
{% endcomment %}

{% include "comments/honeypot.html" %}
		
		<div class="buttContainer">
            <input class="button" type="submit" name="preview" value="הצגת תגובה" />
        </div>
    </form>

</div>

	
<div class="leafspace">
</div>

</div>

<br>


{% endblock  %}

